.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 1.5rem;
  font-family: 'Times New Roman', Times, serif;
}
.header h1 {
  margin-left: 3rem;
}

.nav a {
  margin-left: 1rem;
  text-decoration: none;
  color: grey;
}

.centered-text {
  text-align: left; 
  margin-top: 7rem;
  margin-left: 12rem;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
}

.highlight {
  color: orangered;
}
.highlight-two {
  color: orangered;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.centered-container form {
  max-width: 300px;
  width: 100%;
  margin-bottom: 1rem;
}

.centered-container label {
  display: block;
  margin-bottom: 0.5rem;
  text-align: left;
}

.centered-container input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.centered-container button {
  padding: 0.5rem 1rem;
}

.join-us-btn {
  padding: 0.2rem 2rem;
  font-size: 1.3rem;
  background-color:white;
  color: orangered;
  border: 0.8px solid orangered;
  cursor: pointer;
  margin-top: 4rem;
  margin-left: 6rem;

}

.join-us-text {
  color: black;
  align-self: flex-start;
  font-family: 'Times New Roman', Times, serif;

}
.copyright {
  text-align: left;
  margin-top: 5rem;
  font-size: 1rem;
  color: lightslategrey;
  margin-left: 6rem;
}

