.mentor {
  display: flex;
  flex-direction: column;
}


.logo {
  margin-bottom: 20px;
}


.sidebar {
  background: #f2f2f2;
  width: 200px; 
}


.navbar {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}


.navbar li {
  padding: 8px;
  cursor: pointer;
}


.help {
  order: 11;
}

.logout {
  order: 12;
}
